@{
    ViewData["Title"] = "Home Page";
}

    <header><h1>House Plant Catalog</h1></header>
    <div class="body">
        <section id="owned">
            @foreach (var plant in Model.plantList)
            {
                <div class="plant">
                    <aside class="plant-header">
                        <h2 class="plant-name">@plant.name</h2>
                        <img class="sun" src="@plant.sun" alt="sun need" />
                    </aside>
                    <aside class="plant-info">
                        <img src="@plant.image" alt="plant photo" class="image">
                        <p class="water-frequency">💧 @plant.water</p>
                        <p class="fertilize">∴ @plant.fertilize</p>
                    </aside>
                </div>
            }
        </section>
        <section class="section wanted"></section>


        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
    </div>
